<!-- VIAQom - Ahnaf Kazi, Isaac Jon, Qian Zhou, Vincent Chi  -->
<!-- Home Page -->

<!DOCTYPE html>
{% extends "layer2.html" %}
{% block title %} Home - Brick Breaking out of High School {% endblock %}
{% block heading %} Login {% endblock %}
{% block content %}
	<div class="container">
		<a class="text-dark" style="text-decoration: none;"><h2 class="text-center"> <b>Brick Breaking out of High School </b></h2></a>
	</div>
	<div class = "container text-center" style="position: absolute; left: 37%; top: 25%; width: 100%;">
	  <div class="col-md-4">
	    <form action="/authenticate" method="POST">
	      <h2 class="text-info pb-2"><b></b></h2>
	        <div class="row pb-2">
	          <div class="col">
	            <input type="hidden" name="address" value="{{address}}">
	            <input class="form-control mr-sm-2" type="text" name="username" placeholder = "Username" required>
	          </div>
	        </div>
	        <div class="row pb-4">
	          <div class="col">
	            <input class="form-control mr-sm-2" type="password" name="password" placeholder = "Password" required>
	          </div>
	        </div>
	       <input class="btn btn-warning text-dark shadow mb-5" type="submit" name="submit" value ="Login">
	     </form>
	   </div>
	 </div>
	 <div class = "boxed" style="position: absolute; left: 20%; top: 45%;">
		 <h5>
			<b>Welcome to Brick Breaking out of High School!</b><br></h5><h6>
			The rules are simple. Hit the walls with your balls.<br><br>
			If you have a null account, you can register one. You must be logged in
			to play. <br>This requirement is only to ensure that every user gets the <b>full</b> experience.<br>
			Logged in, the player will be able to upgrade themselves to an insane level.
			<br><br>
			Every new user will start out with 1000 coins. Visit the store to buy upgrades or other creative buffs.<br>
			Each game allows you to collect more coins than you already have to make further<br>
			attempts insanely more fun! Spend your coins wisely.
		</h6>
	 </div>
{% endblock %}
