<!-- VIAQom - Ahnaf Kazi, Isaac Jon, Qian Zhou, Vincent Chi  -->
<!-- The landing page after login, offers options to play brick breaker or do other things. -->

<!DOCTYPE html>

{% extends "layer2.html" %}
{% block title %} Home - Brick Breaking out of High School {% endblock %}
{% block heading %} BBoHS {% endblock %}
{% block heading2 %} Game {% endblock %}
{% block content %}

<div class = "container">
<body class=" sidebar-fixed">
<div class="sidebar">
<nav class="sidebar-nav">
<ul class="nav">
<li class="nav-title">Commentary</li>
  <div id="comm">
  TBD
  </div>
  <br>
  Gold Earned:
  <div id = "haul">
  </div>
</ul>
</nav>
</div>
</body>
  </div>

<div class = "container">
  <div class="row">
    <div class="col-md-12"><!-- button -->
      <button class="btn btn-warning ml-4" id="start" role="button" style="position: absolute; left: 0%; top: 2000%;">
        <b>Click to Play</b>
      </button>
    </div>

  </div>


  <style>
    #playground { border: 1px solid black }
  </style>
  <br>
  <canvas width="550" height="500" id="playground" style="margin-bottom:200px; margin-left:350px">
  </canvas>
  <br>
  <script src="static/scenarios.js"></script>
  <script src="static/game2.js">
  </script>
</div>

{% endblock %}
