<!-- VIAQom - Ahnaf Kazi, Isaac Jon, Qian Zhou, Vincent Chi  -->
<!-- The landing page after login, offers options to play brick breaker or do other things. -->

<!DOCTYPE html>
{% extends "layer2.html" %}
{% block title %} Home - Brick Breaking out of High School {% endblock %}
{% block heading %} Welcome {% endblock %}
{% block content %}
<div class = "container">
  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-warning ml-4" href="/play" role="button" style="position: absolute; left: 43.5%; top: 45%">
          Play
      </a>
    </div>

  </div>

  <br>
</div>
{% endblock %}
