<!-- VIAQom - Ahnaf Kazi, Isaac Jon, Qian Zhou, Vincent Chi  -->
<!-- The landing page after login, offers options to play brick breaker or do other things. -->

<!DOCTYPE html>
{% extends "layer2.html" %}
{% block title %} Home - Brick Breaking out of High School {% endblock %}

{% block content %}
<div class = "container">
  <div class="row">
    <div class="col-md-12">
      <img src="../static/table.png" width="100%" style="margin-bottom: -200px; margin-top: -200px">
      <a class="btn btn-warning ml-4" href="/play" role="button" style="position: absolute; left: 43.5%; top: 45%">
          Play
      </a>
    </div>

  </div>

  <div class="row" style="margin-bottom: -60px">
    <div class="col-md-12">
      <div class="row pb-2">
        <h2>Instructions</h2>
      </div>

      <div class="row">
        <a class="btn btn-primary" href="https://www.cardplayer.com/rules-of-poker/how-to-play-poker/games/texas-holdem" role="button" style="margin-left: 30px; margin-right: 10px">How to Play</a>
      </div>
    </div>
  </div>

  <br>

  <div style="width: 100%;padding-top: 15px; ">
    <div class="col-md-12">
      <div style="position: absolute; left: 30%; top: -80%;width: 100%;" class="row pb-2">
        <h2><u>Card Combos</u></h2>
      </div>
      <div style="position: absolute; left: 30%; top: 10%;width: 100%;padding-bottom:100px">
      <div class="row pb-2" style="padding-left: 30px">
        <h4>Royal Flush</h4>
      </div>

      <div class="row pb-2" style="padding-left: 50px">
        <img alt="A" height="62" src="https://www.cardplayer.com/packages/cards/Large/Diamond/A-49a04aae5e96d2f948dc2062c2c4fcd5.png" width="48">
        <img alt="K" height="62" src="https://www.cardplayer.com/packages/cards/Large/Diamond/K-0bfc14d8f58cc13891b108e4178f92f9.png" width="48">
        <img alt="Q" height="62" src="https://www.cardplayer.com/packages/cards/Large/Diamond/Q-b981aa1f57642480de1dceaf1c2e810f.png" width="48">
        <img alt="J" height="62" src="https://www.cardplayer.com/packages/cards/Large/Diamond/J-d915fc38dbca1ca74cdd75dd913de1f3.png" width="48">
        <img alt="T" height="62" src="https://www.cardplayer.com/packages/cards/Large/Diamond/T-ef2fe11bbd701e4c5b6681e506271700.png" width="48">
      </div>

      <div class="row pb-2" style="padding-left: 30px">
        <h4>Straight Flush</h4>
      </div>

      <div class="row pb-2" style="padding-left: 50px">
        <img alt="8" height="62" src="https://www.cardplayer.com/packages/cards/Large/Club/8-c3708e4821723f1100d514e5280b3f32.png" width="48">
        <img alt="7" height="62" src="https://www.cardplayer.com/packages/cards/Large/Club/7-5610625720208cc02c1107c91365eb37.png" width="48">
        <img alt="6" height="62" src="https://www.cardplayer.com/packages/cards/Large/Club/6-2ae755e4721249426b33e1ef1ba96281.png" width="48">
        <img alt="5" height="62" src="https://www.cardplayer.com/packages/cards/Large/Club/5-872c7ee1aa9a583c1297872021b4cbcf.png" width="48">
        <img alt="4" height="62" src="https://www.cardplayer.com/packages/cards/Large/Club/4-33a9251d25da1ea2ba49e69e94549aee.png" width="48">
      </div>

      <div class="row pb-2" style="padding-left: 30px">
        <h4>Four-of-a-Kind</h4>
      </div>

      <div class="row pb-2" style="padding-left: 50px">
        <img alt="J" height="62" src="https://www.cardplayer.com/packages/cards/Large/Heart/J-2bf19067cda29391286416d0d00646d6.png" width="48">
        <img alt="J" height="62" src="https://www.cardplayer.com/packages/cards/Large/Diamond/J-d915fc38dbca1ca74cdd75dd913de1f3.png" width="48">
        <img alt="J" height="62" src="https://www.cardplayer.com/packages/cards/Large/Spade/J-fff29c49da8ca1f7a272c5ac83f51d06.png" width="48">
        <img alt="J" height="62" src="https://www.cardplayer.com/packages/cards/Large/Club/J-58b4c0f26e3e0cf8c0772ab3e9e34784.png" width="48">
        <img alt="7" height="62" src="https://www.cardplayer.com/packages/cards/Large/Diamond/7-7e507c2122efe10ed7abacab95edff97.png" width="48">
      </div>

      <div class="row pb-2" style="padding-left: 30px">
        <h4>Full House</h4>
      </div>

      <div class="row pb-2" style="padding-left: 50px">
        <img alt="T" height="62" src="https://www.cardplayer.com/packages/cards/Large/Heart/T-c3f8fd4ffc3e09ec705a817aa212dc86.png" width="48">
        <img alt="T" height="62" src="https://www.cardplayer.com/packages/cards/Large/Diamond/T-ef2fe11bbd701e4c5b6681e506271700.png" width="48">
        <img alt="T" height="62" src="https://www.cardplayer.com/packages/cards/Large/Spade/T-9a16f63a333b3edeb50c4372f8dd9883.png" width="48">
        <img alt="9" height="62" src="https://www.cardplayer.com/packages/cards/Large/Club/9-e6f0020a48aef9907b626477c5a60ac2.png" width="48">
        <img alt="9" height="62" src="https://www.cardplayer.com/packages/cards/Large/Diamond/9-3e500833bafc81a708d195f16d005125.png" width="48">
      </div>

      <div class="row pb-2" style="padding-left: 30px">
        <h4>Flush</h4>
      </div>

      <div class="row pb-2" style="padding-left: 50px">
        <img alt="4" height="62" src="https://www.cardplayer.com/packages/cards/Large/Spade/4-4200c8b5f3f5ba04d9fd5a69d71dab2f.png" width="48">
        <img alt="J" height="62" src="https://www.cardplayer.com/packages/cards/Large/Spade/J-fff29c49da8ca1f7a272c5ac83f51d06.png" width="48">
        <img alt="8" height="62" src="https://www.cardplayer.com/packages/cards/Large/Spade/8-60d335b08119f600c3ca02aa58fa902d.png" width="48">
        <img alt="2" height="62" src="https://www.cardplayer.com/packages/cards/Large/Spade/2-e2d1cee5fc0db0b70990036153d57906.png" width="48">
        <img alt="9" height="62" src="https://www.cardplayer.com/packages/cards/Large/Spade/9-b0d71e77734375ceb3954156232f1f2d.png" width="48">
      </div>
    </div>
    <div style="position: absolute; left: 70%; top: 10%;width: 100%;">
      <div class="row pb-2" style="padding-left: 30px">
        <h4>Straight</h4>
      </div>

      <div class="row pb-2" style="padding-left: 50px">
        <img alt="9" height="62" src="https://www.cardplayer.com/packages/cards/Large/Club/9-e6f0020a48aef9907b626477c5a60ac2.png" width="48">
        <img alt="8" height="62" src="https://www.cardplayer.com/packages/cards/Large/Diamond/8-6cd5b3025be0dd56cd52dfd2a49d922d.png" width="48">
        <img alt="7" height="62" src="https://www.cardplayer.com/packages/cards/Large/Spade/7-6c1d119e9c923f8e4773cf00d05e26d6.png" width="48">
        <img alt="6" height="62" src="https://www.cardplayer.com/packages/cards/Large/Diamond/6-a0c0218210a1a6c4ec17e5cec17ee3d8.png" width="48">
        <img alt="5" height="62" src="https://www.cardplayer.com/packages/cards/Large/Heart/5-f498916a3011c2b7199e1c1008dbe330.png" width="48">
      </div>

      <div class="row pb-2" style="padding-left: 30px">
        <h4>Three-of-a-Kind</h4>
      </div>

      <div class="row pb-2" style="padding-left: 50px">
        <img alt="7" height="62" src="https://www.cardplayer.com/packages/cards/Large/Club/7-5610625720208cc02c1107c91365eb37.png" width="48">
        <img alt="7" height="62" src="https://www.cardplayer.com/packages/cards/Large/Diamond/7-7e507c2122efe10ed7abacab95edff97.png" width="48">
        <img alt="7" height="62" src="https://www.cardplayer.com/packages/cards/Large/Spade/7-6c1d119e9c923f8e4773cf00d05e26d6.png" width="48">
        <img alt="K" height="62" src="https://www.cardplayer.com/packages/cards/Large/Club/K-3e8312c33de4718943cd0276de8a16a1.png" width="48">
        <img alt="3" height="62" src="https://www.cardplayer.com/packages/cards/Large/Diamond/3-909f8b1571f834c774576c93eae26594.png" width="48">
      </div>

      <div class="row pb-2" style="padding-left: 30px">
        <h4>Two Pairs</h4>
      </div>

      <div class="row pb-2" style="padding-left: 50px">
        <img alt="A" height="62" src="https://www.cardplayer.com/packages/cards/Large/Club/4-33a9251d25da1ea2ba49e69e94549aee.png" width="48">
        <img alt="K" height="62" src="https://www.cardplayer.com/packages/cards/Large/Spade/4-4200c8b5f3f5ba04d9fd5a69d71dab2f.png" width="48">
        <img alt="Q" height="62" src="https://www.cardplayer.com/packages/cards/Large/Club/3-0c3eda54cfb6808b0a94950c045e497a.png" width="48">
        <img alt="J" height="62" src="https://www.cardplayer.com/packages/cards/Large/Diamond/3-909f8b1571f834c774576c93eae26594.png" width="48">
        <img alt="T" height="62" src="https://www.cardplayer.com/packages/cards/Large/Club/Q-9fcc4fd7692aa96ba9fcb04fa9fd727d.png" width="48">
      </div>

      <div class="row pb-2" style="padding-left: 30px">
        <h4>Pair</h4>
      </div>

      <div class="row pb-2" style="padding-left: 50px">
        <img alt="A" height="62" src="https://www.cardplayer.com/packages/cards/Large/Heart/A-748f3f87f79ac475e6a432750725b64c.png" width="48">
        <img alt="A" height="62" src="https://www.cardplayer.com/packages/cards/Large/Diamond/A-49a04aae5e96d2f948dc2062c2c4fcd5.png" width="48">
        <img alt="8" height="62" src="https://www.cardplayer.com/packages/cards/Large/Club/8-c3708e4821723f1100d514e5280b3f32.png" width="48">
        <img alt="4" height="62" src="https://www.cardplayer.com/packages/cards/Large/Spade/4-4200c8b5f3f5ba04d9fd5a69d71dab2f.png" width="48">
        <img alt="7" height="62" src="https://www.cardplayer.com/packages/cards/Large/Heart/7-1610ff3e74c68f6dd8a855bd16887457.png" width="48">
      </div>

      <div class="row pb-2" style="padding-left: 30px">
        <h4>High Card</h4>
      </div>

      <div class="row pb-2" style="padding-left: 50px">
        <img alt="3" height="62" src="https://www.cardplayer.com/packages/cards/Large/Diamond/3-909f8b1571f834c774576c93eae26594.png" width="48">
        <img alt="J" height="62" src="https://www.cardplayer.com/packages/cards/Large/Club/J-58b4c0f26e3e0cf8c0772ab3e9e34784.png" width="48">
        <img alt="8" height="62" src="https://www.cardplayer.com/packages/cards/Large/Spade/8-60d335b08119f600c3ca02aa58fa902d.png" width="48">
        <img alt="4" height="62" src="https://www.cardplayer.com/packages/cards/Large/Heart/4-712ce04b7f2c7e588c48a1e2b46a4244.png" width="48">
        <img alt="2" height="62" src="https://www.cardplayer.com/packages/cards/Large/Spade/2-e2d1cee5fc0db0b70990036153d57906.png" width="48">
      </div>
    </div>
      <br>
      <br><br><br>
    </div>
  </div>
</div>
{% endblock %}
